# Игнорировать папки сборки и временные файлы
build/
out/

# Игнорировать конфигурационные файлы IDE
.vs/
.idea/
*.iml
*.vcxproj*
*.vcxproj.user
*.vcxproj.filters

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать библиотеки и включения (если они скачиваются отдельно)
lib/
include/

# Игнорировать файлы CMake, если они генерируются при сборке
CMakeFiles/
CMakeCache.txt
*.cmake
CTestTestfile.cmake
install_manifest.txt
cmake_install.cmake
Makefile

# Игнорировать любые исполняемые файлы
*.exe
*.dll
*.lib
*.obj
*.pdb
*.exp
*.pyc
*.pyo

# Игнорировать ключи и другие конфиденциальные данные (если они есть)
*.pem
*.key
*.cert

# Игнорировать pycache
**/__pycache__/
